CompileFlags:
  Remove:
    - -fdeps-format=*
    - -fmodules-ts
    - -fmodule-*
  Add:
    - --target=x86_64-w64-mingw32
    - -Wall
    - -Wextra

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: 
      - modernize*
      - performance*
